In [10]:
import math
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout
from tqdm.keras import TqdmCallback 
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from keras import metrics
from sklearn.preprocessing import OneHotEncoder

In [17]:
X_train = pd.read_csv('data/X_train.csv')
Y_train = pd.read_csv('data/Y_train.csv')
X_val = pd.read_csv('data/X_val.csv')
Y_val = pd.read_csv('data/Y_val.csv')
Y_test = pd.read_csv('data/Y_test.csv')

In [18]:
Y_test

       Unnamed: 0  total_points
0               0             1
1               1             2
2               2             0
3               3             6
4               4             2
...           ...           ...
26500       26500            10
26501       26501             0
26502       26502             0
26503       26503             0
26504       26504             0

[26505 rows x 2 columns]

In [19]:
X_train.drop(columns=['Unnamed: 0'], inplace=True)
Y_train.drop(columns=['Unnamed: 0'], inplace=True)
X_val.drop(columns=['Unnamed: 0'], inplace=True)
Y_val.drop(columns=['Unnamed: 0'], inplace=True)
Y_test.drop(columns=['Unnamed: 0'], inplace=True)

In [20]:
# Setting up necessary functions

# Making a vector of predictions as long as the actuals
def pred_vect(true_values, prediction=2):
    predictions = []
    count = 0
    pred = prediction # Can pass baseline or 2
    while count < len(true_values):
        predictions.append(pred)
        count += 1
        
    return predictions

# Defining loss functions
def MSE(true_values, predicted_values):
    """Return the MSE between true_values and predicted values."""
    tot = 0
    count = 0
    
    # Calculating the SE for each data point
    while count < len(true_values):
        tot += (true_values[count] - predicted_values[count])**2
        count += 1
    
    # Returning the MSE
    return tot / len(true_values)

def RMSE(true_values, predicted_values):
    """Return the RMSE between true_values and predicted values."""
    tot = 0
    count = 0
    
    # Calculating the SE for each data point
    while count < len(true_values):
        tot += (true_values[count] - predicted_values[count])**2
        count += 1
    
    # Returning the RMSE
    return math.sqrt(tot / len(true_values))

def MAE(true_values, predicted_values):
    """Return the MAE between true_values and predicted values."""
    tot = 0
    count = 0
    
    # Calculating the SE for each data point
    while count < len(true_values):
        tot += abs(true_values[count] - predicted_values[count])
        count += 1
    
    # Returning the MAE
    return tot / len(true_values)

In [21]:
# Creating a baseline with the average value
baseline = Y_train['total_points'].mean()
true = np.array(Y_train['total_points'])
pred = np.array(pred_vect(Y_train['total_points'],baseline))

print(f'MSE is {round(MSE(true, pred),3)}')
print(f'RMSE is {round(RMSE(true, pred),3)}')
print(f'MAE is {round(MAE(true, pred),3)}')

MSE is 6.303
RMSE is 2.511
MAE is 1.664